*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* DSEG Font Family */
@font-face {
  font-family: 'DSEG7';
  src: url(./fonts/DSEG7Modern-Light.woff2) format('woff2');
}

.main{
    height: 100vh;
    background: #18244C;
    border: 1px solid gray;
    display: flex;               /* Enables flexbox layout */
    justify-content: center;     /* Centers `#main` horizontally */
    align-items: center;
    justify-content: space-around;
}

/* Home Score */

#home-score{
    text-align: center;
}
#home-score>h1{
    color: #fff;
    font-size: 50px;
    margin-bottom: 20px;
}

.home-scoreboard{
    height: 200px;
    width: 250px;
    border-radius: 5%;
    margin-bottom: 50px;
    background: #0A0001;
    color: #FD4D6B;
    text-align: center;
}
.home-scoreboard>.home-score-counter{
    font-family: 'DSEG7', monospace;
    font-size: 10em;
}
.home-score-buttons{
    text-align: center;
}
.home-score-buttons>button{
    background: none;
    border: 1px solid #fff;
    border-radius: 10%;
    color: #fff;
    padding: 10px;
    margin: 10px 10px;
    font-size: 20px;
}

/* Guest Score */

#guest-score{
    text-align: center;
}

#guest-score>h1{
    color: #fff;
    font-size: 50px;
    margin-bottom: 20px;
}

.guest-scoreboard{
    height: 200px;
    width: 250px;
    border-radius: 5%;
    margin-bottom: 50px;
    background: #0A0001;
    color: #FD4D6B;
    text-align: center;
}
.guest-scoreboard>.guest-score-counter{
    font-size: 10em;
    font-family: 'DSEG7', monospace;
}

.guest-score-buttons{
    text-align: center;
}
.guest-score-buttons>button{
    background: none;
    border: 1px solid #fff;
    border-radius: 10%;
    color: #fff;
    padding: 10px;
    margin: 10px 10px;
    font-size: 20px;
}
